n8n/workflows/enrichment.json
{
  "name": "Lead Enrichment Workflow (v1 Compatible Fixed)",
  "nodes": [
    {
      "parameters": {},
      "id": "Execute Workflow Trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        100,
        150
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrich-lead",
        "options": {}
      },
      "id": "Webhook Trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        100,
        350
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n// If called via Execute Workflow, data is top-level.\n// If called via Webhook, data is in body.body.\nconst lead = input.body ? (input.body.body || input.body) : input;\n\nreturn {\n  lead_id: lead.id || lead.lead_id,\n  email: lead.email,\n  company: lead.company,\n  timestamp: lead.timestamp || new Date().toISOString()\n};"
      },
      "id": "Normalize Input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "position": [
        350,
        250
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const requestTime = new Date($json.timestamp).getTime();\nconst now = new Date().getTime();\nif (Math.abs(now - requestTime) > 3000000) return $json; // Relaxed for local testing\nreturn $json;"
      },
      "id": "Verify Freshness",
      "name": "Verify Freshness",
      "type": "n8n-nodes-base.code",
      "position": [
        550,
        250
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id FROM leads WHERE id = {{$json.lead_id}} AND status != 'enriched';"
      },
      "id": "Idempotency Check",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.postgres",
      "position": [
        750,
        250
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.id ? true : false}}",
              "value2": true
            }
          ]
        }
      },
      "id": "Is Already Processed?",
      "name": "Is Already Processed?",
      "type": "n8n-nodes-base.if",
      "position": [
        950,
        250
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status FROM service_health WHERE service_name = 'enrichment_api';"
      },
      "id": "Check Service Health",
      "name": "Check Service Health",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1150,
        400
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "up"
            }
          ]
        }
      },
      "id": "Is Service UP?",
      "name": "Is Service UP?",
      "type": "n8n-nodes-base.if",
      "position": [
        1350,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "Safety Delay",
      "name": "Safety Delay",
      "type": "n8n-nodes-base.wait",
      "position": [
        1550,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/api/leads/enrich",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$node[\"Normalize Input\"].json.email}}"
            },
            {
              "name": "company",
              "value": "={{$node[\"Normalize Input\"].json.company}}"
            }
          ]
        }
      },
      "id": "Call Enrichment API",
      "name": "Call Enrichment API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1750,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn {\n  lead_id: $node[\"Normalize Input\"].json.lead_id,\n  company_size: data.company_size || 'Unknown',\n  industry: data.industry || 'Not specified',\n  linkedin: data.linkedin_url || '',\n  twitter: data.twitter_handle || '',\n  website: data.website || '',\n  revenue_range: data.revenue_range || 'Unknown',\n  employee_count: data.employee_count || 0,\n  technologies: data.technologies || [],\n  enrichment_score: data.confidence_score || 0\n};"
      },
      "id": "Parse Enriched Data",
      "name": "Parse Enriched Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1950,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet score = 0;\nconst empCount = data.employee_count || 0;\nif (empCount > 500) score += 30;\nreturn { ...data, lead_score: Math.min(score, 100) };"
      },
      "id": "Lead Scoring Engine",
      "name": "Lead Scoring Engine",
      "type": "n8n-nodes-base.code",
      "position": [
        2150,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE leads SET company_size = '{{$json.company_size}}', industry = '{{$json.industry}}', linkedin_url = '{{$json.linkedin}}', twitter_handle = '{{$json.twitter}}', website = '{{$json.website}}', revenue_range = '{{$json.revenue_range}}', employee_count = {{$json.employee_count}}, technologies = '{{JSON.stringify($json.technologies)}}', enrichment_score = {{$json.enrichment_score}}, lead_score = {{$json.lead_score}}, status = 'enriched', updated_at = NOW() WHERE id = {{$json.lead_id}} RETURNING *;"
      },
      "id": "Save to Database",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2350,
        300
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Verify Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Freshness": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "Is Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Already Processed?": {
      "main": [
        [],
        [
          {
            "node": "Check Service Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Service Health": {
      "main": [
        [
          {
            "node": "Is Service UP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Service UP?": {
      "main": [
        [
          {
            "node": "Safety Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Delay": {
      "main": [
        [
          {
            "node": "Call Enrichment API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Enrichment API": {
      "main": [
        [
          {
            "node": "Parse Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enriched Data": {
      "main": [
        [
          {
            "node": "Lead Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Scoring Engine": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}