n8n/workflows/error_handler.json
{
  "name": "Error Handler (Compatible)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-handler",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nreturn {\n  workflow_name: body.workflow_name || 'Unknown',\n  failed_node: body.failed_node || 'Unknown',\n  error_message: body.error || 'No message provided',\n  input_payload: body.input_payload || {},\n  status: 'failed'\n};"
      },
      "id": "process-error",
      "name": "Process Error Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO pipeline_errors (workflow_name, failed_node, error_message, input_payload, status) VALUES ('{{$json.workflow_name}}', '{{$json.failed_node}}', '{{$json.error_message}}', '{{JSON.stringify($json.input_payload)}}', '{{$json.status}}');"
      },
      "id": "insert-dlq",
      "name": "Insert into DLQ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/alert-manager",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "severity", "value": "critical" },
            { "name": "title", "value": "=Error in workflow: {{$json.workflow_name}}" },
            { "name": "message", "value": "=Node: {{$json.failed_node}} failed." }
          ]
        }
      },
      "id": "trigger-alert",
      "name": "Trigger Alert Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Process Error Details", "type": "main", "index": 0 }]] },
    "Process Error Details": { "main": [[{ "node": "Insert into DLQ", "type": "main", "index": 0 }]] },
    "Insert into DLQ": { "main": [[{ "node": "Trigger Alert Manager", "type": "main", "index": 0 }]] }
  }
}
